.App{
  text-align: center;
}

.Calculator{
  max-width: 300px;
  margin: auto;
  margin-top: 200px;
}

.Result{
  height: 60px;
  width: 100%;
  background-color:rgb(169,169,169);
  border:1px solid black;
}

.Result p{
  font-size: 20px;
  text-align: right;
}

.keypad{
  display: block;
  background-color: gold;
}

.keypad button{
  font-size: 18px;
}